
    <section id="games" class="section games">
      <div class="wrapper">
        <h2 class="games__title">Jugar a:</h2>
        <div class="games__container">
          <a title="Jugar al Loteria Nacional en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/LNAC" target="_blank" class="game"><img src="{{ base_path }}themes/custom/laveletav2/images/logos/loteria.svg" alt="" class="game__logo"></a>
          <a title="Jugar al Euromillones en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/EMIL" target="_blank" class="game"><img src="{{ base_path }}themes/custom/laveletav2/images/logos/euromillones.svg" alt="" class="game__logo"></a>
          <a title="Jugar al La Primitiva en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/LAPR" target="_blank" class="game"><img src="{{ base_path }}themes/custom/laveletav2/images/logos/primitiva.svg" alt="" class="game__logo"></a>
          <a title="Jugar a la Bonoloto en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/BONO" target="_blank" class="game"><img src="{{ base_path }}themes/custom/laveletav2/images/logos/bonoloto.svg" alt="" class="game__logo"></a>
          <a title="Jugar al Gordo de la Primitiva en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/ELGR" target="_blank" class="game"><img src="{{ base_path }}themes/custom/laveletav2/images/logos/gordo.svg" alt="" class="game__logo"></a>
          <a title="Jugar a La Quiniela en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/LAQU" target="_blank" class="game"><img src="{{ base_path }}themes/custom/laveletav2/images/logos/quiniela.svg" alt="" class="game__logo"></a>
          <a title="Jugar al Quinigol en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/QGOL" target="_blank" class="game"><img src="{{ base_path }}themes/custom/laveletav2/images/logos/quinigol.svg" alt="" class="game__logo"></a>
          <a title="Jugar al Lototurf en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/LOTU" target="_blank" class="game"><img src="{{ base_path }}themes/custom/laveletav2/images/logos/lototurf.svg" alt="" class="game__logo"></a>
          <a title="Jugar al Quintuple Plus en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/QUPL" target="_blank" class="game"><img src="{{ base_path }}themes/custom/laveletav2/images/logos/quintuple.svg" alt="" class="game__logo"></a>
        </div>
      </div>
    </section>