{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id, 'view-comprar-loteria-empresa'
  ]
%}
{% if imagenempresa %}
<div class="header-empresas" style="">
  <img src="{{ imagenempresa }}"/>
</div>
{% endif %}
<div{{ attributes.addClass(classes) }}>
  {{ exposed }}
  <div class="buying-grid">
    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
  </div>
  {% if order_id %}
  <div class="cart-block--contents__links">
    <a href="{{ path('commerce_checkout.form', {'commerce_order': order_id, 'step': 2 }) }}" title="Pasa al pago y compra tu loteria" class="checkout">Hacer la Compra >></a>
  </div>
  {% endif %}
</div>
