{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id, 'view-comprar-loteria'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ exposed }}
  <div class="buying-grid">
    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
  </div>
  {{ pager }}

  {{ more }}

</div>
