<div id="page-penas">
  <h1>Peñas de la Veleta</h1>

  <p>lorem ipsum dororloe juega a nuestras peñas, sorteos </p>
  <p class="text-center"><img style="width:210px;" alt="Loteria de empresas" src="{{ base_path }}themes/custom/laveleta/images/penas-laveleta.jpeg" /></p>
  <div class="row pena">
    <div class="col-md-1">
      <img alt="Logo Euromillones" src="{{ base_path }}themes/custom/laveleta/images/logos/logoEuromillonesGrande.png" />
    </div>
    <div class="col-md-11">
      <h4>Peña Euromillones</h4>
      <p><a href="#">Jugar</a></p>
    </div>
  </div>
  <div class="row pena">
    <div class="col-md-1">
      <img alt="Logo Primitva"  src="{{ base_path }}themes/custom/laveleta/images/logos/logoPrimitivaGrande.png" />
    </div>
    <div class="col-md-11">
      <h4>Peña Primitiva</h4>
      <p><a href="#">Jugar</a></p>
    </div>
  </div>
  <div class="row pena">
    <div class="col-md-1">
      <img alt="Logo Quiniela" style="width:40px;" src="{{ base_path }}themes/custom/laveleta/images/logos/logoQuinielaGrande.png" />
    </div>
    <div class="col-md-11">
      <h4>Peña Quiniela</h4>
            <p><a href="#">Jugar</a></p>
    </div>
  </div>
  <div class="row pena">
    <div class="col-md-1">
      <img alt="Logo Bonoloto" src="{{ base_path }}themes/custom/laveleta/images/logos/logoBonolotoGrande.png" />
    </div>
    <div class="col-md-11">
      <h4>Peña Bonoloto</h4>
            <p><a href="#">Jugar</a></p>
    </div>
  </div>
  <div class="row pena">
    <div class="col-md-1">
      <img alt="Logo Euromillones" src="{{ base_path }}themes/custom/laveleta/images/logos/logoEuromillonesGrande.png" />
    </div>
    <div class="col-md-11">
      <h4>Peña Juego a todo</h4>
            <p><a href="#">Jugar</a></p><
    </div>
  </div>
</div>
