<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" bgcolor="#faeede">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px;">
                <tr>
                    <td align="center" valign="top" style="padding: 26px 24px;">
                        <a href="https://loterialaveleta.com" target="_blank" style="display: inline-block;">
                           <img src="https://loterialaveleta.com/themes/custom/laveletav2/images/logo-loteria-la-veleta-blanco.svg" alt="Logo" border="0" style="display: block; width: 248px;">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#faeede">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px;">
                <tr>
                    <td align="left" bgcolor="#ffffff" style="padding: 30px 24px 0; font-family: Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;">
                         <h1 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px; color:#222;">Enhorabuena !!!</h1>
                    </td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#ffffff" style="padding: 16px 24px 0; font-family: Helvetica, Arial, sans-serif;">
                         <p style="margin: 0; font-size: 18px; font-weight: 700; letter-spacing: -1px; line-height: 48px; color:#222;">Has recibido un premio en tu pedido de Loteria La Veleta</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px;">
                <tr>
                  <td style="text-align:center;" bgcolor="#ffffff"><h3 style="font-size:29px; font-weight:900; color:#087f5b">{{ prize|number_format(2) }} €</h3></td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px;">
                <tr>
                  <td align="left" bgcolor="#ffffff" style="padding: 22px 40px 0; font-family: Helvetica, Arial, sans-serif;">
                    <table style="width: 100%">
                        <tbody style="text-align: left;">
                        <tr>
                            <td style="vertical-align:middle;">{{ cantidad|number_format }} x </td>
                            <td width="250">
                                <span><img src="{{ item.decimo }}" style="display:block;" width="160" height="100" /></span>
                            </td>
                            <td>
                                <span style="font-size:22px; font-weight:bold;color:#222;">{{ numero }}</span>
                            </td>
                            <td>
                                <span style="font-size: 20px;float: right;color:#222;">{{ precio_total|number_format }}&euro;</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                  </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px;">
                <tr>
                  <td style="padding:5px 32px;" bgcolor="#ffffff">Número de Pedido: {{ commerce_order.id }}</td>
                </tr>
            </table>
        </td>
    </tr>
    </tr>
        <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px;">
                <tr>
                  <td style="padding:15px 32px;" bgcolor="#ffffff">El importe ha sido embolsado, en el Monedero de tu cuenta de usuario.</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px;">
                <tr>
                  <td style="padding:15px 162px;" bgcolor="#ffffff"><a style="background:#7ba42b; color:#fff; text-decoration:none; padding: 14px 20px; font-size: 16px; font-weight:700;" href="https://loterialaveleta.com/user">Cuenta de Usuario</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#faeede">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px;">
                <tr>
                    <td align="left" bgcolor="#ffffff" style="padding: 16px; font-family: Helvetica, Arial, sans-serif; color:#222; font-size: 13px; line-height: 24px; word-break: break-all">
                    </td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#ffffff" style="color:#222; padding: 24px; font-family:Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf">
                         <p style="margin: 0;">Saludos,<br> El Equipo de La Veleta</p>
                    </td>
                </tr>
            </table>
        </td>
        </tr> 
        <tr>
            <td align="center" bgcolor="#faeede" style="padding: 24px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                       <td align="center" bgcolor="#faeede" style="padding: 12px 24px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;">
                         <p style="margin: 0;">Has recibido este email porque has requirido alguna accion de usuario en loterialaveleta.com, puedes borrarlo siempre de forma segura.</p>
                       </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#faeede" style="padding: 12px 24px; font-family:Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;">
                            <p style="margin: 0;"><a style="font-weight:bold; color:#666; " href="https://loterialaveleta.com">https://loterialaveleta.com</a> Avda. de la Institucion Libre de Enseñanza 1 - 28037 - Madrid</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>