<div class="subhome-hero subhome-hero--gordo">
	<div class="wrapper">
		<div class="subhome-hero__texts">
			
			<h1 class="subhome-hero__title"><span class="subhome-hero__game game"></span><span class="title-text">El Gordo de la Primitiva</span></h1>
			<div class="subhome-hero__buttons">
				<a title="Jugar al Gordo de la Primitiva en la pagina de Loterias y apuestas del estado" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/ELGR" target="_blank" class="btn btn--outline subhome-hero__btn">Jugar ya</a>
			</div>
      {% if proximo %}
			<div class="subhome-hero__info"><small>Próximo sorteo: {{ proximo }}</small></div>
      {% endif %}
		</div>
	</div>
</div>
<section id="results" class="section results">
  <div class="wrapper">
    <div class="section__main">
      <section class="section__subsection">
        <div class="results__section__container">
          <div class="results__section__content">
          <div class="grid grid--3-cols">
            {% for elgr in elgrs %}
                 <article class="card draw">
                    <header class="card__header">
                      <h3 class="card__title">
                        <img src="{{ base_path }}themes/custom/laveletav2/images/logos/gordo.svg" alt="El Gordo de la Primitiva" class="game__logo">
                      </h3>
                      <p class="card__date">{{ elgr.dia_semana }}, {{ elgr.fecha_sorteo|date('d/m/Y') }}</p>
                    </header>
                    <div class="card__main">
                      <ul class="draw__list">
                            <li class="draw__item"><span class="draw__number">{{ elgr.bola1 }}</span><li>
                            <li class="draw__item"><span class="draw__number">{{ elgr.bola2 }}</span></li>
                            <li class="draw__item"><span class="draw__number">{{ elgr.bola3 }}</span></li>
                            <li class="draw__item"><span class="draw__number">{{ elgr.bola4 }}</span></li>
                            <li class="draw__item"><span class="draw__number">{{ elgr.bola5 }}</span></li>
                          <li class="draw__item--break"></li>
                          <li class="draw__item">
                            <span class="draw__number draw__number--secondary">{{ elgr.clave }}</span>
                            <span class="draw__text">Clave</span>
                          </li>
                        </ul>
                    </div>
                    <div class="card__footer">
                      <a title="Jugar al Gordo de la Primitiva en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/ELGR" target="_blank" class="btn btn--primary card__btn-primary">Jugar ya</a>
                      <a href="#results-pop-up-elgr-{{ loop.index }}" class=" pop-up-trigger card__btn-secondary">Detalle premios</a>
                    </div>
                 </article>
                  <aside id="results-pop-up-elgr-{{ loop.index }}" class="pop-up">
                    <div class="pop-up__wrapper"><div class="pop-up__content">
                      <article class="card">
                          <header class="card__header"></header>
                          <div class="card__main">
                                   {% set escrutinio = elgr.escrutinio | unserialize %}
                              
                              <table class="table"><thead>
                                  <tr><th>Categoria</th><th>Premio</th><th>Ganadores</th></tr>
                                </thead>
                                <tbody>
                                {% for escru in escrutinio %}
                                {% for e in escru %}
                                <tr>
                                    <td>{{ e.tipo }}</td>
                                    <td>{{ e.premio|number_format }}</td>
                                    <td>{{ e.ganadores|number_format }}</td>
                                </tr>
                                {% endfor %}{% endfor %}
                                </tbody></table>
                              <table class="tabla-recaudacion">
                                <tr>
                                  <th>Apuestas Recibidas</th><td>{{ elgr.apuestas|number_format }}</td>
                                  <th>Bote Ofrecido</th><td>{{ elgr.premio_bote|number_format }}€</td>
                                </tr>
                                <tr>
                                  <th>Recaudaci&oacute;n</th><td>{{ elgr.recaudacion|number_format }}€</td>
                                  <th>Premios</th><td>{{ elgr.premios|number_format }}€</td>
                                </tr>
                              </table>
                          </div>
                        </article>
                      </div>
                      <a href="#results-pop-up" class="pop-up__btn-close"><span class="icon-clearclose"></span></a>
                    </div>
                  </aside>
            {% endfor %}
          </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>