<section id="results" class="section results">
  <div class="wrapper">
    <div class="section__main">
      <section class="section__subsection">
        <div class="results__section__container">
          <div class="results__section__content">
          <div class="grid grid--3-cols">
            {% for lapr in laprs %}
             <article class="card draw">
              <header class="card__header">
                <h3 class="card__title">
                  <img src="{{ base_path }}themes/custom/laveletav2/images/logos/primitiva.svg" alt="La Primitiva" class="game__logo">
                </h3>
                <p class="card__date">{{ lapr.dia_semana }}, {{ lapr.fecha_sorteo|date('d/m/Y') }}</p>
              </header>

              <div class="card__main">
                <ul class="draw__list">
                    <li class="draw__item"><span class="draw__number">{{ lapr.bola1 }}</span></li>
                    <li class="draw__item"><span class="draw__number">{{ lapr.bola2 }}</span></li>
                    <li class="draw__item"><span class="draw__number">{{ lapr.bola3 }}</span></li>
                    <li class="draw__item"><span class="draw__number">{{ lapr.bola4 }}</span></li>
                    <li class="draw__item"><span class="draw__number">{{ lapr.bola5 }}</span></li>
                    <li class="draw__item"><span class="draw__number">{{ lapr.bola6 }}</span></li>
                  <li class="draw__item--break"></li>
                  <li class="draw__item">
                    <span class="draw__number draw__number--secondary">{{ lapr.complementario }}</span>
                    <span class="draw__text">Comp.</span>
                  </li>
                  <li class="draw__item">
                    <span class="draw__number draw__number--secondary">{{ lapr.reintegro }}</span>
                    <span class="draw__text">Reint.</span>
                  </li>
                </ul>
                <div class="draw__extra">
                  <img src="{{ base_path }}themes/custom/laveletav2/images/logos/LogoJoker.svg" alt="Joker de la Primitiva" class="draw__extra-logo">
                  <p class="draw__extra-number draw__extra-number--joker">{{ lapr.joker }}</p>
                </div>
              </div>
              <div class="card__footer">
                <a title="Jugar al La Primitiva en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/LAPR" target="_blank" class="btn btn--primary card__btn-primary">Jugar ya</a>
                <a href="#results-pop-up-lapr-{{ loop.index }}" class=" pop-up-trigger card__btn-secondary">Detalle premios</a>
              </div>
            </article>
              <aside id="results-pop-up-lapr-{{ loop.index }}" class="pop-up">
                  <div class="pop-up__wrapper"><div class="pop-up__content">
                    <article class="card">
                        <header class="card__header"></header>
                        <div class="card__main">
                              {% set escrutinio = lapr.escrutinio | unserialize %}
                              <table class="table"><thead>
                                  <tr><th>Categoria</th><th>Premio</th><th>Ganadores</th></tr>
                                </thead>
                                <tbody>
                                {% for escru in escrutinio %}
                                {% for e in escru %}
                                <tr>
                                    <td>{{ e.tipo }}</td>
                                    <td>{{ e.premio|number_format }}</td>
                                    <td>{{ e.ganadores|number_format }}</td>
                                </tr>
                                {% endfor %}{% endfor %}
                                </tbody></table>
                            <table class="tabla-recaudacion">
                              <tr>
                                <th>Apuestas Recibidas</th><td>{{ lapr.apuestas|number_format }}</td>
                                <th>Bote Ofrecido</th><td>{{ lapr.premio_bote|number_format }}€</td>
                              </tr>
                              <tr>
                                <th>Recaudaci&oacute;n</th><td>{{ lapr.recaudacion|number_format }}€</td>
                                <th>Premios</th><td>{{ lapr.premios|number_format }}€</td>
                              </tr>
                            </table>
                        </div>
                      </article>
                    </div>
                    <a href="#results-pop-up" class="pop-up__btn-close"><span class="icon-clearclose"></span></a>
                  </div>
                </aside>
              {% endfor %}              
          </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>