<section id="results" class="section results">
  <div class="wrapper">
    <div class="section__main">
      <section class="section__subsection">
        <div class="results__section__container">
          <div class="results__section__content">
          <div class="grid grid--3-cols">
            {% for emil in emils %}
                <article id="euromillones" class="card draw">
                  <header class="card__header">
                    <h3 class="card__title">
                      <img src="{{ base_path }}themes/custom/laveletav2/images/logos/euromillones.svg" alt="Euromillones" class="game__logo">
                    </h3>
                    <p class="card__date">{{ emil.dia_semana }}, {{ emil.fecha_sorteo|date('d/m/Y') }}</p>
                  </header>
                  <div class="card__main">
                                    <ul class="draw__list">
                      <li class="draw__item"><span class="draw__number">{{ emil.bola1 }}</span></li>
                      <li class="draw__item"><span class="draw__number">{{ emil.bola2 }}</span></li>
                      <li /class="draw__item"><span class="draw__number">{{ emil.bola3 }}</span></li>
                      <li class="draw__item"><span class="draw__number">{{ emil.bola4 }}</span></li>
                      <li class="draw__item"><span class="draw__number">{{ emil.bola5 }}</span></li>
                      <li class="draw__item--break"></li>
                            <li class="draw__item">
                              <span class="draw__star icon-stargrade"><span>{{ emil.estrella1 }}</span></span>
                              </li>
                              <li class="draw__item">
                               <span class="draw__star icon-stargrade"><span>{{ emil.estrella2 }}</span></span>
                            </li>
                </ul>
                  </div>

                  <div class="card__footer">
                    <a title="Jugar al Euromillones en la pagina de Loterias" href="https://juegos.loteriasyapuestas.es/jugar/cas/configuracion/club_conmigo_online/95005/EMIL" target="_blank" class="btn btn--primary card__btn-primary">Jugar ya</a>
                    <a href="#results-pop-up-emil-{{ loop.index }}" class=" pop-up-trigger card__btn-secondary">Detalle premios</a>
                  </div>
                </article>
                  <aside id="results-pop-up-emil-{{ loop.index }}" class="pop-up"> <!-- detalle euromillones -->
                      <div class="pop-up__wrapper"><div class="pop-up__content">
                        <article class="card">
                            <header class="card__header"></header>
                            <div class="card__main">
                              {% set escrutinio = emil.escrutinio | unserialize %}
                              
                              <table class="table"><thead>
                                  <tr><th>Categoria</th><th>Premio</th><th>Ganadores</th><th>Ganadores EU</th></tr>
                                </thead>
                                <tbody>
                                {% for escru in escrutinio %}
                                {% for e in escru %}
                                <tr>
                                    <td>{{ e.tipo }}</td>
                                    <td>{{ e.premio|number_format }}</td>
                                    <td>{{ e.ganadores|number_format }}</td>
                                    <td>{{ e.ganadores_eu|number_format }}</td>
                                </tr>
                                {% endfor %}{% endfor %}
                                </tbody></table>
                                <table class="tabla-recaudacion">
                                  <tr>
                                    <th>Apuestas Recibidas</th><td>{{ emil.apuestas|number_format }}</td>
                                    <th>Bote Ofrecido</th><td>{{ emil.premio_bote|number_format }}€</td>
                                  </tr>
                                  <tr>
                                    <th>Recaudaci&oacute;n</th><td>{{ emil.recaudacion|number_format }}€</td>
                                    <th>Premios</th><td>{{ emil.premios|number_format }}€</td>
                                  </tr>
                                </table>
                            </div>
                          </article>
                        </div>
                        <a href="#results-pop-up" class="pop-up__btn-close"><span class="icon-clearclose"></span></a>
                      </div>
                    </aside>
            {% endfor %}
          </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>