<div class="wrapper">
  <article class="card draw">
    <span>{{ sorteo.id_sorteo }}</span>
    <span>{{ sorteo.nombre }}</span>
    <span>{{ sorteo.fecha_sorteo }}</span>
    <span>{{ sorteo.dia_semana }}</span>
    <span>{{ sorteo.premio_bote }}</span>
    <span>{{ sorteo.apuestas }}</span>
    <span>{{ sorteo.recaudacion }}</span>
    <span>{{ sorteo.premios }}</span>
    <span>{{ sorteo.fondo_bote }}</span>
    <span>22{{ sorteo.escrutinio }}33</span>
  </article>
</div>