{#
/**
 * @file
 * Template for orders in the 'user' view mode.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<div class="card">
  <div class="card__main">
    <div class="customer-information ">
      <ul class="draw__list">
        <li class="draw__item">
          <span class="">N&uacute;mero de Pedido</span> <br/>
          <span class=""> {{ order_entity.id }}</span>
        </li>
        <li class="draw__item draw__item--lottery">
          <span class="">{{ order.completed }}</span>
        </li>
        <li class="draw__item draw__item--lottery">
          <span class="">{{ order.state }}</span>
        </li>
      </ul>
    </div>
    <div class="order-information">
      {{ order.order_items }}
      {{ order.total_price }}
      {{ additional_order_fields }}
    </div>
  </div>
  <a href="#" onclick="window.history.back();" title="Pedidos" class="btn btn--primary company-cta__btn">&gt;&gt; Volver a Pedidos</a>
</div>
