{% set alt = '{{ product.field_sorteo_3}} - {{ product.field_numero_decimo }}' %}
<div class="buy__header">
		<h3 class="buy__item buy__item--number">{{ product.field_numero_decimo }}</h3>
    <img src="{{ file_url(decimo_url) }}" alt="{{ alt }}" class="buy__image">
</div><br/> 
<div>{{ product.abonado_form }}</div>
