{%
  set title_classes = [
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
{% if title %}
  <label {{ title_attributes.addClass(title_classes) }}>{{ title }}</label>
{% endif %}
{{ content }}
{% if errors %}
  <div>
    {{ errors }}
  </div>
{% endif %}
{{ description }}
