<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
  </head>
  <body{{ attributes }}>
    <div id="cookies-wrap">
      <p>S&oacute;lo utilizamos cookies de funcionamiento del sitio web, como son las de la cesta de la compra. NO utilizamos cookies de seguimiento y an&aacute;lisis de datos de ninguna empresa externa como Google, Gracias por visitarnos.</p>
      <a class="btn btn--primary btn--block button" id="vale-cookies">VALE</a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }} 
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
