<div class="section__main">
  <div class="wrapper">
			<div class="grid grid--3-cols">
				<div class="section__intro">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi fuga, voluptatum voluptas, dolore alias totam, est, enim rem esse reiciendis laudantium magnam. Voluptatum, deleniti, eius? Consequatur praesentium libero tempore.</p>
					<p>Iusto atque eos repudiandae, dignissimos, ea, ipsa nemo similique omnis voluptate minus cumque delectus illo voluptatum, quam harum aspernatur necessitatibus velit pariatur reprehenderit consequatur eaque itaque nihil hic. Perferendis, inventore.</p>
				</div>
			</div>

			<div class="grid grid--3-cols">

				<article class="card pool">
					<header class="card__header pool__header">
						<h3 class="card__title pool__title">
							<img src="{{ base_path }}themes/custom/laveletav2/images/logos_izq/euromillones.svg" alt="Euromillones" class="game__logo">
							<span>Peña Euromillones</span>
						</h3>
					</header>

					<div class="card__main">
						<p class="pool__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, necessitatibus dolorem facilis vel vero ullam quasi eligendi esse fugiat repellendus eum voluptates ducimus commodi. Ipsa veniam dolore, excepturi laborum consequuntur!</p>
					</div>

					<footer class="card__footer">
						<a href="#" class="btn btn--primary card__btn-primary">Jugar</a>
					</footer>
				</article>

				<article class="card pool">
					<header class="card__header pool__header">
						<h3 class="card__title pool__title">
							<img src="{{ base_path }}themes/custom/laveletav2/images/logos_izq/primitiva.svg" alt="primitiva" class="game__logo">
							<span>Peña Primitiva</span>
						</h3>
					</header>

					<div class="card__main">
					</div>

					<footer class="card__footer">
						<a href="#" class="btn btn--primary card__btn-primary">Jugar</a>
					</footer>
				</article>

				<article class="card pool">
					<header class="card__header pool__header">
						<h3 class="card__title pool__title">
							<img src="{{ base_path }}themes/custom/laveletav2/images/logos_izq/quiniela.svg" alt="Quiniela" class="game__logo">
							<span>Peña Quiniela</span>
						</h3>
					</header>

					<div class="card__main">
						<p class="pool__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, necessitatibus dolorem facilis vel vero ullam quasi eligendi esse fugiat repellendus eum voluptates ducimus commodi. Ipsa veniam dolore, excepturi laborum consequuntur!</p>
					</div>

					<footer class="card__footer">
						<a href="#" class="btn btn--primary card__btn-primary">Jugar</a>
					</footer>
				</article>

				<article class="card pool">
					<header class="card__header pool__header">
						<h3 class="card__title pool__title">
							<img src="{{ base_path }}themes/custom/laveletav2/images/logos_izq/bonoloto.svg" alt="Bonoloto" class="game__logo">
							<span>Peña Bonoloto</span>
						</h3>
					</header>

					<div class="card__main">
					</div>

					<footer class="card__footer">
						<a href="#" class="btn btn--primary card__btn-primary">Jugar</a>
					</footer>
				</article>

				<article class="card pool">
					<header class="card__header pool__header">
						<h3 class="card__title pool__title">
							<img src="{{ base_path }}themes/custom/laveletav2/images/logos_izq/loteria.svg" alt="Juego a todo" class="game__logo">
							<span>Peña Juego a todo</span>
						</h3>
					</header>

					<div class="card__main">
						<!-- Peña sin descripción -->
					</div>

					<footer class="card__footer">
						<a href="#" class="btn btn--primary card__btn-primary">Jugar</a>
					</footer>
				</article>

			</div>
		</div>
</div>
