<div id="page-empresas-contacto">
<h1>Contacto Loteria Empresas</h1>
<p> Rellena el siguiente formulario si quieres recibir información de nuestro servicio de loteria a Empresas Digital </p>
<p class="text-center"><img style="width:330px;" alt="Loteria de empresas" src="{{ base_path }}themes/custom/laveleta/images/contacto-empresas.jpeg" /></p>
    <div class="form-group">
    {{ form.nombre }}
    </div>
    <div class="form-group">
    {{ form.empresa }}
    </div>
    <div class="form-group">
    {{ form.email }}
    </div>
    <div class="form-group">
    {{ form.telefono }}
    </div>
    <div class="form-group">
    {{ form.comentarios }}
    </div>
    <div class="form-group">
    {{ form.submit }}
    </div>
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
</div>
